<!DOCTYPE HTML>
<html>
	<head>
        <title>Sneakers Shop</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="assets/css/main.css" />
	</head>
	<body>
		<div id="page-wrapper">

			<!-- Header -->
				<section id="header">
					<div class="container">
						<div class="row">
							<div class="col-12">

								<!-- Logo -->
									<h1><a href="index.html" id="logo">Sneakers Shop</a></h1>

								<!-- Nav -->
									<nav id="nav">
										<a href="index.html">Домашняя страница</a>
										<a href="threecolumn.html">Спортивные</a>
										<a href="twocolumn1.html">Повседневные</a>
										<a href="twocolumn2.html">Бренды</a>
										<a href="onecolumn.html">Уход</a>
									</nav>

							</div>
						</div>
					</div>
					<div id="banner">
						<div class="container">
							<div class="row">
								<div class="col-6 col-12-medium">

									<!-- Banner Copy -->
                                    <p>В SneakersShop мы не просто продаём кроссовки, мы создаём стиль и комфорт для вашей жизни. Узнайте, что нас делает уникальными ...</p>
										<a href="#" class="button-large">Нажмите здесь!</a>

								</div>
								<div class="col-6 col-12-medium imp-medium">

									<!-- Banner Image -->
										<a href="#" class="bordered-feature-image"><img src="images/banner.jpg" alt="" /></a>

								</div>
							</div>
						</div>
					</div>
				</section>

			<!-- Features -->
				<section id="features">
					<div class="container">
						<div class="row">
							<div class="col-3 col-6-medium col-12-small">

								<!-- Feature #1 -->
									<section>
										<a href="#" class="bordered-feature-image"><img src="images/pic01.jpg" alt="" /></a>
										<h2>Добро пожаловать в SneakersShop</h2>
                                        <p>
                                            Это <strong>SneakersShop</strong>, лучший магазин по прадаже спортивной обуви!
                                            Где ваша страсть к стилю встречается с нашими кроссовками. В SneakersShop мы не только предлагаем самые модные и удобные модели, но и создаём атмосферу, где каждый клиент чувствует себя особенным. Добро пожаловать в мир моды и комфорта – добро пожаловать в SneakersShop.
                                        </p>
									</section>

							</div>
							<div class="col-3 col-6-medium col-12-small">

								<!-- Feature #2 -->
									<section>
										<a href="#" class="bordered-feature-image"><img src="images/pic02.jpg" alt="" /></a>
                                        <h2>Большое количество моделей</h2>
                                        <p>
                                            У нас вы найдете огромный выбор моделей от известных производителей, где качество встречается с стилем. 
											Не упустите возможность обновить свой гардероб с нашим разнообразием брендовых кроссовок. 
											Погрузитесь в мир множества стилей и моделей – только в Sneakers Shop.
                                        </p>
									</section>

							</div>
							<div class="col-3 col-6-medium col-12-small">

								<!-- Feature #3 -->
									<section>
										<a href="#" class="bordered-feature-image"><img src="images/pic03.jpg" alt="" /></a>
										<h2>Лицензированный магазин</h2>
                                        <p>
                                            Каждая пара гарантированно оригинальна. Мы гордимся тем,
											что предлагаем только лучшие товары от ведущих мировых брендов,
											все лицензированные и сертифицированные. Приходите к нам 
											и погрузитесь в мир качественной обуви без каких-либо сомнений – только в SneakersShop.
                                        </p>
									</section>

							</div>
							<div class="col-3 col-6-medium col-12-small">

								<!-- Feature #4 -->
									<section>
										<a href="#" class="bordered-feature-image"><img src="images/pic04.jpg" alt="" /></a>
										<h2>Постоянные скидки</h2>
                                        <p>
                                            Мы ценим наших клиентов и поэтому предлагаем лучшие цены на самые модные модели кроссовок. 
											Не упустите шанс обновить свой гардероб по выгодной цене – только в SneakersShop, где каждая покупка становится приятным и выгодным опытом!
                                        </p>
									</section>

							</div>
						</div>
					</div>
				</section>

			<!-- Content -->
				<section id="content">
					<div class="container">
						<div class="row aln-center">
							<div class="col-4 col-12-medium">

								<!-- Box #1 -->
									<section>
										<header>
											<h2>Кто мы?</h2>
											<h3>Пару слов о нас</h3>
										</header>
										<a href="#" class="feature-image"><img src="images/pic05.jpg" alt="" /></a>
                                        <p>
                                            Мы относится к коллективу магазина, его персоналу и руководству, 
											которые работают вместе для предоставления клиентам лучшего выбора кроссовок, 
											высокого уровня обслуживания и постоянных скидок.
                                        </p>
									</section>

							</div>
							<div class="col-4 col-6-medium col-12-small">

								<!-- Box #2 -->
									<section>
										<header>
											<h2>Что мы делаем?</h2>
											<h3>Как проходит наша работа</h3>
										</header>
										<ul class="check-list">
                                            <li>Предоставляем широкий ассортимент кроссовок</li>
                                            <li>Гарантируем оригинальность</li>
                                            <li>Предлагаем выгодные скидки</li>
                                            <li>Обеспечиваем высокий уровень обслуживания</li>
                                            <li>Создаём уютную и дружелюбную атмосферу в магазине</li>
										</ul>
									</section>

							</div>
							<div class="col-4 col-6-medium col-12-small">

								<!-- Box #3 -->
									<section>
										<header>
											<h2>Что люди говорят о нас?</h2>
											<h3>Вот некоторые комментарии клиентов</h3>
										</header>
										<ul class="quote-list">
											<li>
												<img src="images/pic06.jpg" alt="" />
                                                <p>"Отличный выбор и невероятные скидки! Мой любимый магазин для покупки кроссовок."</p>
												<span>Джон Сильвер</span>
											</li>
											<li>
												<img src="images/pic07.jpg" alt="" />
                                                <p>"С уверенностью могу сказать, что каждый раз, заходя в SneakersShop, я нахожу идеальную пару кроссовок. Спасибо за ваше внимание к деталям и высокий уровень сервиса!"</p>
												<span>Денис Пупыркин</span>
											</li>
											<li>
												<img src="images/pic08.jpg" alt="" />
                                                <p>"Не могу перестать восхищаться вашими скидками! Сэкономил целое состояние, покупая здесь кроссовки для всей семьи. Очень доволен!"</p>
												<span>Ковбой Бибоп</span>
											</li>
										</ul>
									</section>

							</div>
						</div>
					</div>
				</section>

			<!-- Footer -->
				<section id="footer">
					<div class="container">
						<div class="row">
							<div class="col-8 col-12-medium">

								<!-- Links -->
									<section>
										<h2>Links to Important Stuff</h2>
										<div>
											<div class="row">
												<div class="col-3 col-12-small">
													<ul class="link-list last-child">
														<li><a href="#">Neque amet dapibus</a></li>
														<li><a href="#">Sed mattis quis rutrum</a></li>
														<li><a href="#">Accumsan suspendisse</a></li>
														<li><a href="#">Eu varius vitae magna</a></li>
													</ul>
												</div>
												<div class="col-3 col-12-small">
													<ul class="link-list last-child">
														<li><a href="#">Neque amet dapibus</a></li>
														<li><a href="#">Sed mattis quis rutrum</a></li>
														<li><a href="#">Accumsan suspendisse</a></li>
														<li><a href="#">Eu varius vitae magna</a></li>
													</ul>
												</div>
												<div class="col-3 col-12-small">
													<ul class="link-list last-child">
														<li><a href="#">Neque amet dapibus</a></li>
														<li><a href="#">Sed mattis quis rutrum</a></li>
														<li><a href="#">Accumsan suspendisse</a></li>
														<li><a href="#">Eu varius vitae magna</a></li>
													</ul>
												</div>
												<div class="col-3 col-12-small">
													<ul class="link-list last-child">
														<li><a href="#">Neque amet dapibus</a></li>
														<li><a href="#">Sed mattis quis rutrum</a></li>
														<li><a href="#">Accumsan suspendisse</a></li>
														<li><a href="#">Eu varius vitae magna</a></li>
													</ul>
												</div>
											</div>
										</div>
									</section>

							</div>
							<div class="col-4 col-12-medium imp-medium">

								<!-- Blurb -->
									<section>
										<h2>An Informative Text Blurb</h2>
										<p>
											Duis neque nisi, dapibus sed mattis quis, rutrum accumsan sed. Suspendisse eu
											varius nibh. Suspendisse vitae magna eget odio amet mollis. Duis neque nisi,
											dapibus sed mattis quis, sed rutrum accumsan sed. Suspendisse eu varius nibh
											lorem ipsum amet dolor sit amet lorem ipsum consequat gravida justo mollis.
										</p>
									</section>

							</div>
						</div>
					</div>
				</section>

			<!-- Copyright -->
				<div id="copyright">
					&copy; Untitled. All rights reserved. | Design: <a href="http://html5up.net">HTML5 UP</a>
				</div>

		</div>

		<!-- Scripts -->
			<script src="assets/js/jquery.min.js"></script>
			<script src="assets/js/browser.min.js"></script>
			<script src="assets/js/breakpoints.min.js"></script>
			<script src="assets/js/util.js"></script>
			<script src="assets/js/main.js"></script>

	</body>
</html>